<h2>HOME PAGE</h2>
<hr/>
<br/><br/>
<a class="realtimeproducts" href="/realtimeproducts">Real Time Products</a>
<br/><br/>

<div class="container">
  <ul id="ul-productos">
    {{#each product}}
      <li>{{title}}</li>
    {{/each}}
  </ul>
</div>



